* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Bangers", cursive !important;
  --primary-color: #fdec00;
}
body {
  background-color: #030303;
  color: var(--primary-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
img {
  display: block;
  margin: auto;
  height: 20vh;
}
h1 {
  margin: 1rem 0;
  letter-spacing: 2px;
}
button {
  font-family: "Bangers", cursive;
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: #030303;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  margin: 1rem auto;
  cursor: pointer;
}
button:hover,
button:focus {
  outline: none;
  transition: all 0.4s ease-in;
  background-color: var(--primary-color);
  color: #030303;
}
input,
textarea {
  border-radius: 5px;
  font-family: "Bangers", cursive !important;
  border: 2px solid #fff;
  background-color: transparent;
  resize: none;
  padding: 1rem;
  width: 80vw;
  color: var(--primary-color);
}
input:focus,
textarea:active,
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}
textarea::placeholder {
  text-align: center;
  font-size: 1.5rem;
}
@media all and (min-width: 768px) {
  img {
    height: 25vh;
  }
  input,
  textarea {
    width: 50vw;
  }
}
